* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.05em;
  font-weight: lighter;
  color: #fff;
  text-shadow: #fff 0px 0px 0px;
}

:root {
  --background: #202020;
  --buttonsFirst: #3b3b3b;
  --buttonsSecond: #323232;
  --buttonsThird: #282828;
}

body {
  overflow: hidden;
  height: 100vh;
  background: rgb(32, 32, 32);
}

main {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.calc {
  display: flex;
  flex-direction: column;
  bottom: 3px;
  flex-grow: 0;
  height: 100vh;
}

.history {
  bottom: 0;
  right: 0;
  width: 200px;
}

.display {
  font-size: 35px;
  height: 100%;
  text-align: end;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
}

.button {
  border-radius: 5px;
  flex: 0 0 24%;
  width: 5.8vh;
  height: 11.1vh;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
}

.gray {
  background: var(--buttonsFirst);
}

.gray:hover {
  background: var(--buttonsSecond);
}

.gray:active {
  background: var(--buttonsThird);
}

.gray_dark {
  background: var(--buttonsSecond);
}

.gray_dark:hover {
  background: var(--buttonsFirst);
}

.gray_dark:active {
  background: var(--buttonsSecond);
}

.green {
  background: #45e532;
  color: black;
}

.green:hover {
  background: #41d130;
}

.green:active {
  background: #3dbd2e;
}
